.side_bar
  .user-name
    .top-items
      .name
        name
      .icons
        .icon
          = icon('far', 'edit')
        .icon
          = icon('fas','cog')
  .group-list
    .group
      .group-name
        仮置き
      .group-message
        新しいメッセージ
    .group
      .group-name
        仮置き
      .group-message
        新しいメッセージ
    .group
      .group-name
        仮置き
      .group-message
        新しいメッセージ